@tailwind base;
@tailwind components;
@tailwind utilities;

.margin-box {
    margin-top: 10px;
}

.margin-box2 {
    margin-top: 10px;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 2%;
}

.text-head {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: bold;
}

.text2 {
    font-size: 1.2rem;
    
}